
.formAdd{
  
display: flex;
flex-direction: column; 
width: 50%; 
margin: 0 auto;
border-radius: 3px solid red;

 
}
.formAdd div{
   display: flex;
   flex-direction: column;

   border-radius: 3px solid red;
    
}
.formAdd input{
border-radius: 6px;
padding:  10px;
}



